@box-radius: 8px;
.bookmark-container {
  display: flex;
  flex-direction: column;

  .list-container {
    max-height: 807px;
    background-color: rgba(82, 82, 82, 0.63);
    margin: 62px 0 0 0;
    padding: 0 14px;
    overflow: scroll;
    position: absolute;
    z-index: @z-index-bookmark-results;
  }

  .weui-cells__title {
    text-align: center;
    color: darkorange;
    background-color: #ffffff;
    margin: 0;
  }

  .weui-cell_access {
    font-size: 16px;
  }

  .result-amount {
    padding: 0 6px;
    font-size: 18px;
    font-weight: 700;
  }
}
