@note-bg: rgb(255, 255, 205);
.note-container {
  margin-top: -10px;
  overflow: scroll;
  position: relative;
  height: 700px;

  @media @medium {
    display: none;
  }

  .note-insert {
    color: #ffffffa7;
    background-color: #ffffff3d;
    width: 34px;
    font-size: 34px;
    height: 34px;
    font-weight: 700;
    padding: 8px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      background-color: darkorange;
      color: #ffffff;
    }
  }
  .note-list {
    margin: 0 auto;
    /* column-width: 320px; */
    /* column-gap: 15px; */
    /* width: 95%; */
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .note-bookmarked,
  .note-random {
    text-align: center;
  }
  .note-bookmarked {
    background: transparent;
  }

  .note-random {
    background: transparent;
  }

  .edit {
    width: 95%;
    text-decoration: none;
    color: #000;
    background: @note-bg;
    cursor: pointer;
    margin: 0 0 15px 0;
    padding: 10px 30px;
    transition: opacity 0.4s ease-in-out;
    display: inline-block;
  }
  .edit.bookmarked {
    background-color: #ffec91f2;
  }
}
.note-container::-webkit-scrollbar {
  width: 0 !important;
}

.edit-container {
  position: relative;
}

@note-edit-font-size: 15px;
@note-edit-line-height: 20px;
textarea.note-textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: transparent;
  display: block;
  resize: none;
  border: 0;
  outline: 0;
  width: 100%;
  color: inherit;
  font-size: @note-edit-font-size;
  line-height: @note-edit-line-height;
}
input.note-input {
  background-color: transparent;
  border: none;
  font-family: @font-thin;
  font-size: @note-edit-font-size + 5px;
  line-height: @note-edit-line-height;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #e67a06;
  width: 100%;
}
input::placeholder {
  color: #4a48482b;
}

span.note-icon {
  display: none;
  position: absolute;
  right: -22px;
  background-color: #6e6e6e29;
  border-radius: 15px;
  padding: 3px;
  cursor: pointer;
  color: #9a9696;
  font-size: 20px;

  &:hover {
    color: darkorange;
    background-color: #6e6e6e29;
  }
}
span.selected {
  background-color: rgb(250, 176, 86);
  color: #ffffff;
}

span.bookmark {
  top: 28px;
}
span.bookmark.selected {
  display: block;
}

span.close {
  top: -5px;
}

// hove: show delete icons
.edit:hover {
  span.close,
  span.bookmark {
    display: block;
  }
}

.edit.bookmarked.gu-transit {
  border: none;
  background-color: #ffffcd;
}
.gu-mirror {
  display: block;
  background-color: rgba(253, 253, 251, 0.666);
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
  -webkit-box-shadow: 0px 2px 31px 0px rgba(153, 147, 153, 1);
  -moz-box-shadow: 0px 2px 31px 0px rgba(153, 147, 153, 1);
  box-shadow: 0px 2px 31px 0px rgba(153, 147, 153, 1);

  span.bookmark.selected,
  input,
  textarea {
    display: none;
  }
}
